* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

header {
    width: 1200px;
    margin: 10px auto;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

    display: flex;
    justify-content: center;
    align-items: center;

    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.nav-left {

    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.nav-left h3 {
    font-size: 45px;
    font-weight: 700;
}

.the-g {
    color: #ff42a5;
}

img {
    display: block;
}

.nav-left img {
    width: 86px;
}

.nav-right {
    width: 50%;

}

.nav-right ul,
.nav-right div ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.nav-right div ul {

    border-radius: 8px;
    padding: 18px 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.fa-youtube {
    color: #ff0000;
}

.fa-facebook {
    color: #1877f2;
}

.fa-tiktok {
    color: #000000;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
}