* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}


/* common css starts */
.title-text {
    color: #0B0223;
    font-size: 40px;
    font-weight: 700;
}

.text-gradient {
    font-size: 40px;
    font-weight: 700;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description-text {
    color: #534C64;
    font-size: 20px;
    font-weight: 400;
}
button{
    cursor: pointer;
}

/* common css ends  */


header {
    background: #FFF;
    box-shadow: 1px 4px 30px 3px rgba(0, 0, 0, 0.15);

}

.nav-container {
    min-height: 10vh;
    max-width: 1200px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-left {
    width: 50%;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.nav-left img {
    width: 60px;
}

.nav-left h1 {
    font-size: 45px;
    font-weight: 700;
}

.nav-left h1 span {
    color: #ff65b6;
}

.nav-right {
    width: 50%;

    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

ul a,
.follow-list a {
    margin: 0 10px;
}

.nav-right ul,
.follow-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul li {
    list-style: none;
}

li a {
    text-decoration: none;
}

.follow-list {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 5px 10px;
}

.fa-youtube {
    color: #ff0000;
}

.fa-facebook {
    color: #4ec5f7;
}

.fa-twitter {
    color: #1da1f2;
}

/* navbar ends here  */
.banner-container {
    max-width: 1200px;
    min-height: 70vh;
    margin: 40px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-left {
    width: 50%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}



.btn-pink {
    min-width: 25px;
    display: inline;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 15px;
    color: white;
    background: #F948B2;
    border: none;
    margin-right: 20px;
}

.btn-sky {
    min-width: 25px;
    display: inline;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 15px;
    color: white;
    background: #4EC5F7;
    border: none;
    margin-right: 20px;
}

.banner-right {
    width: 50%;
}

.banner-right img {
    width: 100%;
}

/* banner section ends here */

.funny-videos-container {
    max-width: 1200px;
    min-height: 70vh;
    margin: 40px auto;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.funny-videos-description {
    text-align: center;
}

.funny-videos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.funny-videos>div {
    /* border: 2px solid tomato; */
}

.funny-videos div img {
    width: 100%;
}

.video-description {
    margin-top: 20px;
}

.hide {}

.img-div {
    position: relative;
}

.img-div>div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.349);
}

.img-div:hover #appear {
    display: block !important;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 50% 0;
    color: #F948B2;
    font-size: 30px;
    border-radius: 10px;
}

/* funny videos ends here  */

.play-instantly-container {
    max-width: 1200px;
    min-height: 70vh;
    margin: 80px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 20px;
}

.play-instantly-left {
    width: 45%;
    text-align: right;
}

.play-instantly-left h1,
.play-instantly-left p {
    margin-top: 10px;
}

.play-instantly-right {
    width: 45%;
    position: relative;
}

.play-instantly-right>img {
    width: 250px;
    height: 500px;
}

.games-pet-size {
    width: 100px;
    height: 200px;
}

.games-pet {
    position: absolute;
    left: -20%;
    bottom: -8%;
}

.play-instantly-right img {
    width: 100%;
    object-fit: cover;
}

/* online game ends here */
.types-of-game-section {
    max-width: 1200px;
    min-height: 50vh;
    margin: 80px auto;


}

.types-of-game-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    margin: 20px;
    padding: 10px;

    flex-grow: 1;
    flex-basis: 200px;

    color: #0B0223;
    font-size: 15px;
    font-weight: 600;
}

.box:hover {
    color: #F948B2;
    border: 3px solid #F948B2;
    border-radius: 25px;
    cursor: pointer;
}

/* types of games ends here */
footer {
    
    background-image: url("../images/Group\ 14.png");
    background: #0B0223;

    box-shadow: 0px -10px 8px 10px rgba(0, 0, 0, 0.15);
    padding-bottom: 40px;
}

.footer-container {
    max-width: 1200px;
    /* min-height: 45vh; */
    margin: 20px auto 0;
}

.logo-n-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;

    padding: 40px 0px;
}

.find-more {
    text-align: center;
    color: white;
    /* width: 700px; */
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    grid-template-rows: repeat(2, auto);
    gap: 10px;

}

.find-more p {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.social-media {
    color: white;
    /* width: 700px; */
    margin: 20px auto;

    display: flex;
    justify-content: center;

    font-size: 30px;
    gap: 40px;


}

.about-website {
    color: white;
    /* width: 700px; */
    margin: 20px auto;

    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));

}


.about-website p {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.copy-right-section{
    color: white;
    text-align: center;
}
.logo-n-name h1 {
font-size: 40px;
font-weight: 700;
}
.logo-n-name span{
    color: #F948B2;
}











































.red {
    border: 2px solid red;
}

.green {
    border: 2px solid green;
}

.blue {
    border: 2px solid blue;
}

.black {
    border: 2px solid black;
}

.yellow {
    border: 2px solid yellow;
}